<% @tweets.each do |tweet| %>
<div class="container">
  <p class="tweet_content"><%= tweet.content %></p>
  <p class="tweet_created_at"><%= tweet.created_at %></p>
  <p class="edit"><%= link_to '編集', tweet_edit_path %></p>
</div>
<% end %>
