<h1>新規投稿</h1>
<%= form_with model:@tweet, local:true do |form| %>
  <div class="container">
    <div class ="form_wrapper">
      <p class="content_form"><%= form.text_area :content, size: "40x10" %></p>
      <p class="btn"><%= form.submit "送信" %></p>
    </div>
  </div>
<% end %>
